

    body{

    background-color: white ;

        }

    h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5rem;
    color: black;
    }

    h1{
        color: black;
        font-size: 2rem;
        margin-bottom: 2rem;
        
    }


    footer{ 

        margin-top: 20rem;
        
    
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #flexContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

  
    table, th, td{
        border: 1px solid black;
    
    }

    th, td{
        padding: 5px;
    }

    .divTasks{
        max-width: 35rem;
        margin: 0 auto;
    }

    .btn {
        background-color:black;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 15px;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 20px;
                   }
               


.div{
    border: 2px solid lightgrey;
    text-align: center;
    padding: 4rem;
    margin-top: 3rem;
}
   

    

    